/*====== RESET =====*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*====== VARIABLES =====*/
:root {
  --header-height: 4.5rem;

  /* colors */
  --hue: 288;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 86% 89%);
  --title-color: hsl(218 43% 33%);
  --text-color: hsl(222 9% 55%);
  --text-color-light: hsl(224 19% 85%);
  --body-color: hsl(0 0% 98%);

  /* fonts */
  --title-font-size: 2.5rem;
  --subtitle-font-size: 2.25rem;
  --menu-font-size: 1.5rem;
  --logo-font-size: 1.25rem;
  --body-font-size: 1rem;
  --label-font-size: 0.875rem;

  --title-font: 'DroidSerif', serif;
  --subtitle-font: 'DroidSerif-Italic', serif;
  --body-font: 'OpenSans', sans-serif;
  --body-semibold-font: 'OpenSans-SemiBold', sans-serif;
  --body-bold-font: 'OpenSans-Bold', sans-serif;
}

/*====== FONTS =====*/

@font-face {
  font-family: 'DroidSerif';
  src: url(assets/fonts/fonts/droid-serif/DroidSerif-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'DroidSerif-Italic';
  src: url(assets/fonts/fonts/droid-serif/DroidSerif-Italic.ttf);
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'OpenSans';
  src: url(assets/fonts/fonts/open-sans/OpenSans-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url(assets/fonts/fonts/open-sans/OpenSans-Semibold.ttf);
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url(assets/fonts/fonts/open-sans/OpenSans-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

/*====== BASE =====*/

html {
  scroll-behavior: smooth;
}

body {
  font: 400 var(--body-font-size) var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

.title {
  font: 700 var(--menu-font-size) var(--body-semibold-font);
  color: var(--text-color);
  -webkit-font-smoothing: auto;
}

.button {
  background-color: var(--body-color);
  color: var(--title-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  border: 1px solid var(--title-color);
  border-radius: 0.25rem;
  height: 3rem;
  width: 8rem;
  padding: 0.5rem 2rem;
  box-shadow: 0rem 4px var(--title-color);
  font: 700 var(--body-font-size) var(--body-bold-font);
  transition: background 0.3s;
  cursor: pointer;
}

.button:hover {
  background: var(--base-color);
}

/*====== LAYOUT =====*/
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
  width: 100%;
}

#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

/*====== LOGO =====*/
#logo a {
  font: 700 var(--logo-font-size) var(--body-bold-font);
  color: var(--base-color);
}

/*====== NAVIGATION =====*/
nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--base-color);
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--base-color);

  position: absolute;
  left: 0;
  bottom: -0.5rem;

  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active:hover {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

/* Mostrar Menu*/
nav.show .menu {
  opacity: 1;
  visibility: visible;

  background: var(--body-color);

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  right: 0;

  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
  justify-items: center;
}

nav.show ul.grid {
  gap: 3rem;
}

/* toggle menu */
.toggle {
  color: var(--title-color);
  font-size: 1.5rem;
  cursor: pointer;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: -1.5rem;
  right: 1.5rem;

  transition: 0.2s;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}

/*====== CONTACT US =====*/
#contactUs {
  gap: 2rem;
  margin-top: 10rem;
  width: 100%;
}

#contactUs h1 {
  color: var(--title-color);
  font: 700 var(--title-font-size) var(--title-font);
}

#contactUs h2 {
  color: var(--title-color);
  font: 400 var(--subtitle-font-size) var(--subtitle-font);
}

#contactUs .image img {
  display: none;
  opacity: 0;
  visibility: hidden;
}

#contactUs .grid {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.forms {
  display: grid;
  grid-template-columns: repeat(2, 9.97rem);
  grid-template-rows: repeat(3, 3.5rem);
  gap: 0.5rem;
  margin-top: 1.5rem;
  width: 100%;
}

#name {
  color: var(--text-color);
  font: 500 var(--label-font-size) var(--body-font);
  height: 3.125rem;
  padding: 0.875rem;
  border: 2px solid var(--text-color-light);
  border-radius: 0.25rem;
}

#name::placeholder {
  color: var(--text-color-light);
  font: 500 var(--label-font-size) var(--body-font);
}

#name:focus {
  outline: none !important;
  border-color: var(--title-color);
}

#email {
  color: var(--text-color);
  font: 500 var(--label-font-size) var(--body-font);
  height: 3.125rem;
  padding: 0.875rem;
  border: 2px solid var(--text-color-light);
  border-radius: 0.25rem;
}

#email::placeholder {
  color: var(--text-color-light);
  font: 500 var(--label-font-size) var(--body-font);
}

#email:focus {
  outline: none !important;
  border-color: var(--title-color);
}

#subject {
  color: var(--text-color);
  font: 500 var(--label-font-size) var(--body-font);
  grid-column-start: 1;
  grid-column-end: 3;
  height: 3.125rem;
  padding: 0.875rem;
  border: 2px solid var(--text-color-light);
  border-radius: 0.25rem;
}

#subject::placeholder {
  color: var(--text-color-light);
  font: 500 var(--label-font-size) var(--body-font);
}

#subject:focus {
  outline: none !important;
  border-color: var(--title-color);
}

#message {
  color: var(--text-color);
  font: 500 var(--label-font-size) var(--body-font);
  grid-column-start: 1;
  grid-column-end: 3;
  height: 6rem;
  padding: 0.875rem;
  border: 2px solid var(--text-color-light);
  border-radius: 0.25rem;
}

#message::placeholder {
  color: var(--text-color-light);
  font: 500 var(--label-font-size) var(--body-font);
}

#message:focus {
  outline: none !important;
  border-color: var(--title-color);
}

#submit {
  color: var(--title-color);
  background: var(--base-color);
  font: 700 var(--label-font-size) var(--body-font);
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: self-start;
  border: none;
  border-radius: 0.25rem;
  height: 3rem;
  margin-top: 3rem;
  padding: 0.5rem 2rem;
  box-shadow: 0rem 4px var(--title-color);
  cursor: pointer;
}

#submit:hover {
  color: var(--base-color);
  background: var(--title-color);
  box-shadow: 0rem 4px var(--base-color);
}

/*====== RESPONSIVE =====*/

/* medium devices: 720 > */
@media (min-width: 720px) {
  :root {
    /* fonts */
    --title-font-size: 2.75rem;
    --subtitle-font-size: 2.5rem;
    --logo-font-size: 1.3rem;
    --body-font-size: 1.125rem;
  }

  .button {
    height: 2.25rem;
    width: 6rem;
    padding: 0rem;
  }

  /* navigation */
  nav {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }
  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  nav .logo {
    grid-column: 1;
  }

  nav .menu ul li a {
    font: 400 1rem var(--body-font);
    -webkit-font-smoothing: antialiased;
  }

  nav .menu ul li a.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;
  }

  nav .icon-menu {
    display: none;
  }

  /* contact us */
  #contactUS {
    display: flex;
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  #contactUs .image img {
    display: block;
    opacity: 1;
    visibility: visible;
    position: fixed;
    right: -1.5rem;
    bottom: 0;
    width: 50vw;
    height: auto;
    max-height: 80vh;
  }
}

/* large devices: 1200 > */
@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  .forms {
    grid-template-columns: repeat(2, 13.5rem);
  }

  nav .menu ul {
    gap: 3rem;
  }
}
