nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#logo {
  flex-grow: 0;
}

#menu {
  flex-grow: 0.2;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

ul a {
  text-decoration: none;
  color: black;
}
